﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.divider {
    width: 100%;
    height: 1px;
    margin: 10px 0 20px;
}


/*Added by Sayantani for image slider*/



.theme-default .nivoSlider {
    position: relative;
    background: url(loading.gif) no-repeat 50% 50%;
    margin-bottom: 10px;
}

    .theme-default .nivoSlider img {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
    }

    .theme-default .nivoSlider a {
        border: 0;
        display: block;
    }

.theme-default .nivo-controlNav {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0px;
    z-index: 999;
}

    .theme-default .nivo-controlNav a {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(../bullets.png) no-repeat;
        text-indent: -9999px;
        border: 0;
        margin: 0 2px;
    }

        .theme-default .nivo-controlNav a.active {
            background-position: 0 -22px;
        }

.theme-default .nivo-directionNav a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.theme-default:hover .nivo-directionNav a {
    opacity: 1;
}

.theme-default a.nivo-nextNav {
    background-position: -30px 0;
    right: 15px;
}

.theme-default a.nivo-prevNav {
    left: 15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}

    .theme-default .nivo-caption a {
        color: #fff;
        border-bottom: 1px dotted #fff;
    }

        .theme-default .nivo-caption a:hover {
            color: #fff;
        }

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
}

    .theme-default .nivo-controlNav.nivo-thumbs-enabled a {
        width: auto;
        height: auto;
        background: none;
        margin-bottom: 5px;
    }

    .theme-default .nivo-controlNav.nivo-thumbs-enabled img {
        display: block;
        width: 120px;
        height: auto;
    }


/*Ended by Sayantani for image slider*/



