﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VentureWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>  
    <script src="Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
    <link href="~/css/nivo-slider.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-info navbar-expand-sm sticky-top">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">VentureWeb</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li clas="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="ListUsers">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Company" asp-action="ListCompany">Company</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="ProductCategory" asp-action="ListProductCategory">Product Categories</a>
        </li>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Product
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="ProductList">Product List</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ProductCategory" asp-action="ListProductCategory">Product Categories</a>
                                <a class="dropdown-item" asp-area="" asp-controller="ProductClass" asp-action="ListProductClass">Product Class</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Unit" asp-action="ListUnit">Unit</a>
                                @*<a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="ListProductsByCategory">ListProductsByCategory</a><a class="dropdown-item" asp-area="" asp-controller="ProductRate" asp-action="ListProductRate"></a>*@


                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accounts
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="Ledger" asp-action="ListLedgerGroup">LedgerGroup List</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Ledger" asp-action="ListLedgerName">LedgerName List</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Ledger" asp-action="ListSubLedgerClass">Sub Ledger Class List</a>
                                @*<a class="dropdown-item" asp-area="" asp-controller="Unit" asp-action="ListUnit">Unit</a>*@
                                @*<a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="ListProductsByCategory">ListProductsByCategory</a><a class="dropdown-item" asp-area="" asp-controller="ProductRate" asp-action="ListProductRate"></a>*@


                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="User" asp-action="logout">Logout</a>


                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="mb-5 pb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>&copy; 2021 | VentureWeb</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
