﻿
@model List<VentureWeb.Models.Registration>

@{
    ViewData["Title"] = "ListUsers";
}
<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="my-1 card-title">User List</h5>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-sm" href="/User/Registration" role="button"><i class="fa fa-user-plus"></i> Add User</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }

            <table class="table table-bordered table-sm mb-0">
                <tr>
                    <th>EmpID</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>ReportingTo</th>
                    <th>EmailId</th>
                    <th>PhoneNo</th>
                    <th>Password</th>
                    <th></th>
                    <th>Action</th>
                </tr>

                @foreach (var user in Model)
                {
            <tr>
                <td>@user.EmpId</td>
                <td>@user.Name</td>
                <td>@user.Designation</td>
                <td>@user.ReportingTo</td>
                <td>@user.EmailId</td>
                <td>@user.PhoneNo</td>
                <td>@user.Password</td>
                <td><a href="/User/ResetPassword?id=@user.EmpId" class="btn btn-outline-warning btn-sm" role="button">Reset Password</a></td>
                <td>
                    <a href="/User/Registration?id=@user.EmpId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                    <a href="/User/Delete?id=@user.EmpId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
                }
            </table>
        </div>
    </div>
</div>