﻿
@*@model VentureWeb.Models.Registration*@

@model VentureWeb.ViewModel.UserViewModel


@{
    ViewData["Title"] = "Registration";

}

<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="User" asp-action="ListUsers">User List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Registration Form</li>
            </ol>
        </nav>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-1 card-title">Registration Form</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/User/Registration?add=@(Model.Registration==null)" class="form-horizontal" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Name<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model.Registration == null ? "" : Model.Registration.Name)' name="Name"  maxlength="50" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="Name"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Designation<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model.Registration == null ? "" : Model.Registration.Designation)' name="Designation" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="Designation"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Reporting To<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model.Registration == null ? "" : Model.Registration.ReportingTo)' name="ReportingTo" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="ReportingTo"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Email ID<span style="color:red;">*</span> :</label>
                                    <input type="email" class="form-control" @(Model.Registration == null ? "" : "readonly='readonly'") value='@(Model.Registration == null ? "" : Model.Registration.EmailId)' name="EmailId" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="EmailId"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Employee ID<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" @(Model.Registration == null ? "" : "readonly='readonly'") value='@(Model.Registration == null ? "" : Model.Registration.EmpNo)' name="EmpNo" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="EmpNo"
                                          data-valmsg-replace="true">
                                    </span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Phone No<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model.Registration == null ? "" : Model.Registration.PhoneNo)' name="PhoneNo" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="PhoneNo"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Password<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model.Registration == null ? "" : Model.Registration.Password)' name="Password" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="Password"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">User Status<span style="color:red;">*</span> :</label>


                                    @Html.DropDownList("UserStatus",
                                    Model.UserState,
                                   new { @class = "form-control" })
                                <span class="field-validation-valid text-danger"
                                      data-valmsg-for="UserStatus"
                                      data-valmsg-replace="true">
                                </span>

                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group mb-0">
                                    <input type="submit" class="btn btn-primary btn-sm btn-block" value="Save" name="save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
