﻿@model VentureWeb.Models.Registration
@{
    ViewData["Title"] = "ResetPassword";
}
<form action="/User/ResetPassword" class="form-horizontal" method="post">
    
    <input type="hidden" value='@ViewBag.EmpId' name="EmpId" />
    <h1>Reset Password</h1>
    <table border="0">
        <tr>
            <td>
                @if (null != TempData["alertMessage"])
                {
                    <div class="alert alert-warning" role="alert">
                        @TempData["alertMessage"]
                    </div>
                }

            </td>
        </tr>
        <tr>
            <td>
                New Password
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" class="form-control" value='' name="Password" required />
            </td>
        </tr>

        <tr>
            <td>
                Confirm Password
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" class="form-control" value='' name="ConfirmPassword" required />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-primary btn-sm btn-block" value="Save" name="save" />
            </td>
        </tr>
    </table>
    </form>
