﻿
@{
    ViewData["Title"] = "UserRegistration";
}

<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="User" asp-action="ListUsers">Users</a></li>
                <li class="breadcrumb-item active" aria-current="page">Registration Form</li>
            </ol>
        </nav>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-1 card-title">Registration Form</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/User/Registration?add=@(Model==null)" class="form-horizontal" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Name<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.Name)' name="Name" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Designation<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.Designation)' name="Designation" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Reporting To<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.ReportingTo)' name="ReportingTo" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Email ID<span style="color:red;">*</span> :</label>
                                    <input type="email" class="form-control" @(Model == null ? "" : "readonly='readonly'") value='@(Model==null?"":Model.EmailId)' name="EmailId" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Employee ID<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" @(Model == null ? "" : "readonly='readonly'") value='@(Model==null?"":Model.EmpId)' name="EmpId" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Phone No<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.PhoneNo)' name="PhoneNo" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Password<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.Password)' name="Password" required />
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group mb-0">
                                    <input type="submit" class="btn btn-primary btn-sm btn-block" value="Save" name="save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

