﻿

@model List<VentureWeb.Models.ProductRate>

@{
    ViewData["Title"] = "ListProductRate";
}



<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product Rate List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="my-1 card-title">Product Rate List</h5>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-sm" href="/ProductRate/AddEditProductRate" role="button"><i class="fa fa-plus"></i> Add Product Rate</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }

            <table class="table table-bordered table-sm mb-0">
                <tr>
                    <th>Product Rate Id</th>
                    <th>Product Rate</th>
                    <th>Action</th>
                </tr>

                @foreach (var productrate in Model)
                {
                    <tr>
                        <td>@productrate.RateId</td>
                        <td>@productrate.Rate</td>

                        <td>
                            <a href="/ProductRate/AddEditProductRate?id=@productrate.RateId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                            <a href="/ProductRate/Delete?id=@productrate.RateId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>