﻿
@model VentureWeb.ViewModel.SubLedgerClassVM


@{
    ViewData["Title"] = "SubLedgerClass";

}

<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Ledger" asp-action="ListSubLedgerClass">SubLedgerClass List</a></li>
                <li class="breadcrumb-item active" aria-current="page">@TempData["Mode"] SubLedgerClass</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-1 card-title">Ledger Group Form</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/Ledger/SubLedgerClass?add=@(Model.SubLedgerClassId==0)" class="form-horizontal" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Ledger Group<span style="color:red;">*</span> :</label>
                                    <input type="hidden" value='@(Model==null?"":Model.SubLedgerClassId.ToString())' name="SubLedgerClassId" required />
                                    <input type="hidden" value='@(Model==null?"":Model.UnderId.ToString())' name="UnderId" required />
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.SubLedgerClassName)' name="SubLedgerClassName" maxlength="50" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="SubLedgerClassName"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Under :</label>
                                    <input type="text" disabled class="form-control" value='@(Model==null?"":Model.ParentClassName)' name="ParentGroupName" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="ParentString"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                          

                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group mb-0">
                                    <input type="submit" class="btn btn-primary btn-sm btn-block" value="Save" name="save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
