﻿
@model VentureWeb.ViewModel.AddEditLedgerNameVM


@{
    ViewData["Title"] = "LedgerName";

}

<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="LedgerName" asp-action="ListLedgerName">LedgerName</a></li>
                <li class="breadcrumb-item active" aria-current="page">@TempData["Mode"] LedgerName</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-1 card-title">Ledger Form</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/Ledger/LedgerName?add=@(Model.Ledger==null)" class="form-horizontal" method="post">
                        <div class="row">
                            <table border="1" width="100%">
                                <tr>
                                    <td>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Ledger Name<span style="color:red;">*</span> :</label>
                                                <input type="hidden" value='@(Model.Ledger==null?"":Model.Ledger.LedgerId.ToString())' name="LedgerId" />
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.LedgerName)' name="LedgerName" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="LedgerName"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Under Group<span style="color:red;">*</span> :</label>
                                                @Html.DropDownList("LedgerGroupId", new SelectList(Model.LedgerGroup, "LedgerGroupId", "LedgerGroupName", (Model == null ? "" : Model.LedgerGroup.ToString())), new { @class = "form-control" })
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="ProductClassId"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Inventory Affec<span style="color:red;">*</span> :</label>
                                                <select class="form-control valid" data-val="true" data-val-required="The Inventory Affec field is required." id="InventoryAffec" name="InventoryAffec">
                                                    @if (Model.Ledger != null)
                                                    {
                                                        <option selected='@(Model.Ledger.InventoryEffect == 0 ? "selected" : "")' value="0">No</option>
                                                        <option selected='@(Model.Ledger.InventoryEffect == 1 ? "selected" : "")' value="1">Yes</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="0">No</option>
                                                        <option value="1">Yes</option>

                                                    }
                                                </select>
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="ProductClassId"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Interest Method<span style="color:red;">*</span> :</label>
                                                <select class="form-control valid" data-val="true" data-val-required="The InterestMethod field is required." id="InterestMethod" name="InterestMethod">
                                                    @if (Model.Ledger != null)
                                                    {
                                                        <option selected='@(Model.Ledger.Interestmethod == "0" ? "selected" : "")' value="0">None</option>
                                                        <option selected='@(Model.Ledger.Interestmethod == "1" ? "selected" : "")' value="1">Monthly</option>
                                                        <option selected='@(Model.Ledger.Interestmethod == "2" ? "selected" : "")' value="2">Quartarly</option>
                                                        <option selected='@(Model.Ledger.Interestmethod == "3" ? "selected" : "")' value="3">Halfyearly</option>
                                                        <option selected='@(Model.Ledger.Interestmethod == "4" ? "selected" : "")' value="4">Yearly</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="0">None</option>
                                                        <option value="1">Monthly</option>
                                                        <option value="2">Quartarly</option>
                                                        <option value="3">Halfyearly</option>
                                                        <option value="4">Yearly</option>


                                                    }
                                                </select>
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="ProductClassId"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Interest %age<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.InterestPtc.ToString())' name="InterestPtc" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="InterestPtc"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Address1<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.Ledgeraddress1.ToString())' name="Ledgeraddress1" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="Ledgeraddress1"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>

                                    </td>
                                    <td>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Phone No<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.Ledgerphone1.ToString())' name="Ledgerphone1" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="Ledgerphone1"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Address2<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.Ledgeraddress2.ToString())' name="Ledgeraddress2" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="Ledgeraddress2"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td  colspan="2">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Fax<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.Ledgerfax.ToString())' name="Ledgerfax" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="Ledgerfax"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Address3<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.Ledgeraddress3.ToString())' name="Ledgeraddress3" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="Ledgeraddress3"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td  colspan="2">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Email<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.Ledgeremail.ToString())' name="Ledgeremail" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="Ledgeremail"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Vat No<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.LedgerVatNo.ToString())' name="LedgerVatNo" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="LedgerVatNo"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Bank Branch<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.BankBranch.ToString())' name="BankBranch" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="BankBranch"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="">Pan No<span style="color:red;">*</span> :</label>
                                                <input type="text" class="form-control" value='@(Model.Ledger==null?"":Model.Ledger.LedgerPanNo.ToString())' name="LedgerPanNo" maxlength="50" required />
                                                <span class="field-validation-valid text-danger"
                                                      data-valmsg-for="LedgerPanNo"
                                                      data-valmsg-replace="true">
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                    
                                </tr>
                            </table>




                            
                            @*<div class="col-md-6">
                <div class="form-group">
                    <label for="">UnderId<span style="color:red;">*</span> :</label>
                    <input type="text" class="form-control" value='@(Model==null?"":Model.UnderId.ToString())' name="UnderId" required />
                </div>
            </div>*@
                            @*<div class="col-md-6">
                <div class="form-group">
                    <label for="">IsParent<span style="color:red;">*</span> :</label>
                    <input type="text" class="form-control" value='@(Model==null?"":Model.IsParent.ToString())' name="IsParent" required />
                    <span class="field-validation-valid text-danger"
                          data-valmsg-for="IsParent"
                          data-valmsg-replace="true">
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">ParentString<span style="color:red;">*</span> :</label>
                    <input type="text" class="form-control" value='@(Model==null?"":Model.ParentString)' name="ParentString" required />
                    <span class="field-validation-valid text-danger"
                          data-valmsg-for="ParentString"
                          data-valmsg-replace="true">
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">IsMain<span style="color:red;">*</span> :</label>
                    <input type="text" class="form-control" value='@(Model==null?"":Model.IsMain.ToString())' name="IsMain" required />
                    <span class="field-validation-valid text-danger"
                          data-valmsg-for="IsMain"
                          data-valmsg-replace="true">
                    </span>
                </div>
            </div>*@
                            @*<div class="col-md-6">
                <div class="form-group">
                    <label for="">EntryUserId <span style="color:red;">*</span> :</label>
                    <input type="text" class="form-control" value='@(Model==null?"":Model.EntryUserId.ToString())' name="EntryUserId" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">EntryUserDate<span style="color:red;">*</span> :</label>
                    <input type="text" class="form-control" value='@(Model==null?"":Model.EntryUserDate.ToString())' name="EntryUserDate" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">UpdateUserId <span style="color:red;">*</span> :</label>
                    <input type="text" class="form-control" value='@(Model==null?"":Model.UpdateUserId.ToString())' name="UpdateUserId" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">UpdateUserDate <span style="color:red;">*</span> :</label>
                    <input type="text" class="form-control" value='@(Model==null?"":Model.UpdateUserDate.ToString())' name="UpdateUserDate" required />
                </div>
            </div>*@

                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group mb-0">
                                    <input type="submit" class="btn btn-primary btn-sm btn-block" value="Save" name="save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
