﻿

@model List<VentureWeb.Models.LedgerGroup>

@{
    ViewData["Title"] = "ListLedgerGroup";
}
<style>
    ul, #myUL {
        list-style-type: none;
    }

    #myUL {
        margin: 0;
        padding: 0;
    }

    .caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    .caret-down::before {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        ' transform: rotate(90deg);
    }

    .nested {
        display: none;
    }

    .active {
        display: block;
    }
</style>


<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">LedgerGroup List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    @*<h5 class="my-1 card-title">Product Class List</h5>*@
                </div>
                <div class="col-md-6 text-right">
                    @*<a class="btn btn-primary btn-sm" href="/Ledger/AddEditLedgerGroup" role="button"><i class="fa fa-plus"></i> Add LedgerGroup</a>*@
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }

        <table class="table table-bordered table-sm mb-0">
            <tr>
                @*<th>Ledger Group Id</th>*@
                <th>Ledger Group Name</th>
                @*<th>Action</th>*@
            </tr>
            <tr><td>
                    <ul id="myUL">

                        @foreach (var ledgergroup in Model)
                        {


                          

                            @if (ledgergroup.UnderId == 0)
                            {
                                var subgroups = Model.Where(c => c.UnderId == ledgergroup.LedgerGroupId).ToList();
                        <li>
                            <span class="caret">@ledgergroup.LedgerGroupName</span>
                            
                            @*<a href="/Ledger/AddEditLedgerGroup" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-plus"></i></a>
                            <a href="/Ledger/AddEditLedgerGroup?id=@ledgergroup.LedgerGroupId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                            <a href="" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>*@


                            @if (subgroups.Count > 0)
                            {
                                <ul class="nested">
                                    @foreach (var subgroup in subgroups)
                                    {
                                        var semisubgroups = Model.Where(c => c.UnderId == subgroup.LedgerGroupId).ToList();
                                        <li>
                                            @*@subgroup.LedgerGroupName*@
                                            <span class="caret">@subgroup.LedgerGroupName</span>
                                            <a href="/Ledger/AddEditLedgerGroup?UnderId=@subgroup.LedgerGroupId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-plus"></i></a>
                                            <a href="/Ledger/Delete?id=@subgroup.LedgerGroupId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                                            <a href="" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>

                                            @if (semisubgroups.Count > 0)
                                            {
                                                <ul class="nested">
                                                    @foreach (var semisubgroup in semisubgroups)
                                                    {
                                                    <li>
                                                        @semisubgroup.LedgerGroupName
                                                        <a href="/Ledger/AddEditLedgerGroup?id=@semisubgroup.LedgerGroupId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                                                        <a href="/Ledger/Delete?id=@semisubgroup.LedgerGroupId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>

                                                    </li>
                                                    }
                                                </ul>
                                            }
                                        </li>

                                    }
                                </ul>
                            }

                        </li>

                                    }

                               

                                @*<span class="caret">Beverages</span>
                <ul class="nested">
                    <li>Water</li>
                    <li>Coffee</li>
                    <li>
                        <span class="caret">Tea</span>
                        <ul class="nested">
                            <li>Black Tea</li>
                            <li>White Tea</li>
                            <li>
                                <span class="caret">Green Tea</span>
                                <ul class="nested">
                                    <li>Sencha</li>
                                    <li>Gyokuro</li>
                                    <li>Matcha</li>
                                    <li>Pi Lo Chun</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>*@

                            }


                        </ul>
                </td></tr>
            
        </table>
        </div>
    </div>
</div>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>