﻿

@model List<VentureWeb.Models.SubLedgerClass>

@{
    ViewData["Title"] = "ListSubLedgerClass";
}
<style>
    ul, #myUL {
        list-style-type: none;
    }

    #myUL {
        margin: 0;
        padding: 0;
    }

    .caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    .caret-down::before {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        ' transform: rotate(90deg);
    }

    .nested {
        display: none;
    }

    .active {
        display: block;
    }
</style>


<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">SubLedgerClass List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    @*<h5 class="my-1 card-title">Product Class List</h5>*@
                </div>
                <div class="col-md-6 text-right">
                    @*<a class="btn btn-primary btn-sm" href="/Ledger/AddEditSubLedgerClass" role="button"><i class="fa fa-plus"></i> Add SubLedgerClass</a>*@
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }

            <table class="table table-bordered table-sm mb-0">
                <tr>
                    @*<th>Ledger Group Id</th>*@
                    <th>Sub Ledger Class Name</th>
                    @*<th>Action</th>*@
                </tr>
                <tr>
                    <td>
                        <ul id="myUL">

                            @foreach (var subledgerclass in Model)
                            {

                                @if (subledgerclass.UnderId == 0)
                                {
                                    var subgroups = Model.Where(c => c.UnderId == subledgerclass.SubLedgerClassId).ToList();
                            <li>
                                <span class="caret">@subledgerclass.SubLedgerClassName</span>
                                <a href="/Ledger/AddEditSubLedgerClass?UnderId=@subledgerclass.SubLedgerClassId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-plus"></i></a>
                                @*<a href="/Ledger/DeleteSubLedgerClass?id=@subgroup.SubLedgerClassId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                                <a href="" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>*@

                                @*<a href="/Ledger/AddEditSubLedgerClass" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-plus"></i></a>
        <a href="/Ledger/AddEditSubLedgerClass?id=@subledgerclass.SubLedgerClassId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
        <a href="" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>*@


                                @if (subgroups.Count > 0)
                                {
                                    <ul class="nested">
                                        @foreach (var subgroup in subgroups)
                                        {
                                            // var semisubgroups = Model.Where(c => c.UnderId == subgroup.SubLedgerClassId).ToList();
                                            <li>
                                                @*@subgroup.SubLedgerClassName*@
                                                <span class="caret">@subgroup.SubLedgerClassName</span>
                                                @*<a href="/Ledger/AddEditSubLedgerClass?UnderId=@subgroup.SubLedgerClassId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-plus"></i></a>*@
                                                <a href="/Ledger/AddEditSubLedgerClass?id=@subgroup.SubLedgerClassId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                                                <a href="/Ledger/DeleteSubLedgerClass?id=@subgroup.SubLedgerClassId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>

                                                @*@if (semisubgroups.Count > 0)
                        {
                            <ul class="nested">
                                @foreach (var semisubgroup in semisubgroups)
                                {
                                    <li>
                                        @semisubgroup.SubLedgerClassName
                                        <a href="/Ledger/AddEditSubLedgerClass?id=@semisubgroup.SubLedgerClassId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                                        <a href="/Ledger/Delete?id=@semisubgroup.SubLedgerClassId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>

                                    </li>
                                }
                            </ul>
                        }*@
                                            </li>

                                        }
                                    </ul>
                                }

                            </li>

                                }



                                @*<span class="caret">Beverages</span>
                                    <ul class="nested">
                                        <li>Water</li>
                                        <li>Coffee</li>
                                        <li>
                                            <span class="caret">Tea</span>
                                            <ul class="nested">
                                                <li>Black Tea</li>
                                                <li>White Tea</li>
                                                <li>
                                                    <span class="caret">Green Tea</span>
                                                    <ul class="nested">
                                                        <li>Sencha</li>
                                                        <li>Gyokuro</li>
                                                        <li>Matcha</li>
                                                        <li>Pi Lo Chun</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>*@

                            }


                        </ul>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>

<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>