﻿

@model List<VentureWeb.ViewModel.LedgerNameVM>

@{
    ViewData["Title"] = "ListLedgerName";
}

<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">LedgerName List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="my-1 card-title">Ledger Name List</h5>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-sm" href="/Ledger/AddEditLedgerName" role="button"><i class="fa fa-plus"></i> Add LedgerName</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }

            <table class="table table-bordered table-sm mb-0">
                <tr>
                    <th>Ledger Id</th>
                    <th>Ledger Name</th>
                    @*<th>Ledger Group Name</th>*@
                    <th>Action</th>
                </tr>

                @foreach (var ledgername in Model)
                {
            <tr>
                <td>@ledgername.LedgerId</td>
                <td>@ledgername.LedgerName</td>
                <td>@ledgername.LedgerGroupName</td>

                <td>
                    <a href="/Ledger/AddEditLedgerName?id=@ledgername.LedgerId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                    <a href="/Ledger/Delete?id=@ledgername.LedgerName" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
                }
            </table>
        </div>
    </div>
</div>
