﻿
@model VentureWeb.Models.ProductClass


@{
    ViewData["Title"] = "ProductClass";

}

<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="ProductClass" asp-action="ListProductClass">ProductClass</a></li>
                <li class="breadcrumb-item active" aria-current="page">@TempData["Mode"] ProductClass</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-1 card-title">Product Class Form</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/ProductClass/ProductClass?add=@(Model==null)" class="form-horizontal" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Product Class Name<span style="color:red;">*</span> :</label>
                                    <input type="hidden" value='@(Model==null?"":Model.ProductClassId.ToString())' name="ProductClassId" required />
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.ProductClassName)' name="ProductClassName"  maxlength="50" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="ProductClassName"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompanyId<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompId.ToString())' name="CompId" required />
                                </div>
                            </div>*@
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label for="">UnderId<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UnderId.ToString())' name="UnderId" required />
                                </div>
                            </div>*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">IsParent<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.IsParent.ToString())' name="IsParent" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="IsParent"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">ParentString<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.ParentString)' name="ParentString" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="ParentString"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">IsMain<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.IsMain.ToString())' name="IsMain" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="IsMain"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label for="">EntryUserId <span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.EntryUserId.ToString())' name="EntryUserId" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">EntryUserDate<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.EntryUserDate.ToString())' name="EntryUserDate" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">UpdateUserId <span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UpdateUserId.ToString())' name="UpdateUserId" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">UpdateUserDate <span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UpdateUserDate.ToString())' name="UpdateUserDate" required />
                                </div>
                            </div>*@
                               
                            </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group mb-0">
                                    <input type="submit" class="btn btn-primary btn-sm btn-block" value="Save" name="save" />
                                </div>
                            </div>
                        </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>
