﻿

@model List<VentureWeb.Models.ProductClass>

@{
    ViewData["Title"] = "ListProductClass";
}

<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">ProductClass List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="my-1 card-title">Product Class List</h5>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-sm" href="/ProductClass/AddEditProductClass" role="button"><i class="fa fa-plus"></i> Add ProductClass</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }

            <table class="table table-bordered table-sm mb-0">
                <tr>
                    <th>Product ClassId</th>
                    <th>Product Class Name</th>
                    <th>Action</th>
                </tr>

                @foreach (var productclass in Model)
                {
                    <tr>
                        <td>@productclass.ProductClassId</td>
                        <td>@productclass.ProductClassName</td>

                        <td>
                            <a href="/ProductClass/AddEditProductClass?id=@productclass.ProductClassId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                            <a href="/ProductClass/Delete?id=@productclass.ProductClassId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>