﻿@model VentureWeb.ViewModel.AddEditProductViewModel
@*@model VentureWeb.Models.Product*@
@{
    ViewData["Title"] = "Product";

    ViewData["TotalWidth"] = "";
    if (Model.Product != null)
    {
        ViewData["TotalWidth"] = Model.Product.Width1 + Model.Product.Width2 + Model.Product.Width3;
    }
}


<script type="text/javascript">
    $(document).on("change", ".qty1", function () {
        
        var sum = 0;
        
        $(".qty1").each(function () {
            
            sum += +$(this).val();
        });
        $(".total").val(sum);
    });

    $(document).on("click", ".directories a", function (e) {
        var id = $(this).attr('id');
        $.ajax({
            type: "GET",
            url: "/Product/DeleteProductImages?id=" + id + "&productid=" + @(Model.Product == null?"0":Model.Product.ProductId.ToString()),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var rtdid = '#td' + id;
                $(rtdid).remove();
                $(rtdid).closest('tr').remove();
            },
            error: function (r) {
               // alert('error');
            }
        });
    });
    $(document).on("click", "input[name='IsDefault']", function (e) {
  
       // alert('hi');      
        var id = $(".directories a").attr('id');
        //alert(id);
        var isdefault = true;        
        $.ajax({
            type: "GET",
            url: "/Product/SetDefaultProductPicture?id=" + id + "&productid=" + @(Model.Product==null?"0":Model.Product.ProductId.ToString()) + "&isdefault=" + isdefault,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                alert('Default image set successfully');
            },
            error: function (r) {
              alert('error');
            }
        });

});

</script>

<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Product" asp-action="ProductList">Product List</a></li>
                <li class="breadcrumb-item active" aria-current="page">@TempData["Mode"] Product</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title mb-0">Product Information</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }
            <form action="/Product/AddEditProduct?add=@(Model.Product==null)" enctype="multipart/form-data" class="form-horizontal" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Product Name<span style="color:red;">*</span> :</label>
                            <input type="hidden" value='@(Model.Product==null?"":Model.Product.ProductId.ToString())' name="ProductId" />
                            <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.ProductName)' name="ProductName" maxlength="50" required />
                            <span class="field-validation-valid text-danger"
                                  data-valmsg-for="ProductName"
                                  data-valmsg-replace="true">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control qty1" value='@(Model.Product==null?"":Model.Product.Width1.ToString())' name="Width1" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="Width1"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control qty1" value='@(Model.Product==null?"":Model.Product.Width2.ToString())' name="Width2" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="Width2"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control qty1" value='@(Model.Product==null?"":Model.Product.Width3.ToString())' name="Width3" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="Width3"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control total" value='@ViewData["TotalWidth"]' name="TotalWidth" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Referrence Code<span style="color:red;">*</span> :</label>
                            <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.ReferenceCode)' name="ReferenceCode" required />
                            <span class="field-validation-valid text-danger"
                                  data-valmsg-for="ReferenceCode"
                                  data-valmsg-replace="true">
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Width<span style="color:red;">*</span> :</label>
                            <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.Width)' name="Width" required />
                            <span class="field-validation-valid text-danger"
                                  data-valmsg-for="Width"
                                  data-valmsg-replace="true">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Bar Code :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.BarCode)' name="BarCode" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">ITC Code :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.ITCCode)' name="ITCCode" />
                    </div>
                </div>
                <div class="divider bg-primary"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Product Class<span style="color:red;">*</span> :</label>
                        @Html.DropDownList("ProductClassId", new SelectList(Model.ProductClass, "ProductClassId", "ProductClassName", (Model.Product == null ? "" : Model.Product.ProductClassId.ToString())), new { @class = "form-control" })
                        <span class="field-validation-valid text-danger"
                              data-valmsg-for="ProductClassId"
                              data-valmsg-replace="true">
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Product Category<span style="color:red;">*</span> :</label>
                        @Html.DropDownList("ProductCategoryId", new SelectList(Model.ProductCategory, "ProductCategoryId", "ProductCategoryName", (Model.Product == null ? "" : Model.Product.ProductCategoryId.ToString())), new { @class = "form-control" })
                        <span class="field-validation-valid text-danger"
                              data-valmsg-for="ProductCategoryId"
                              data-valmsg-replace="true">
                        </span>
                    </div>
                </div>
                <div class="divider bg-primary"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Sales U.O.M.<span style="color:red;">*</span> :</label>
                        @Html.DropDownList("SaleUnitId", new SelectList(Model.Unit, "UnitId", "UnitName", (Model.Product == null ? "" : Model.Product.SaleUnitId.ToString())), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Minimum Level :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.MinimumLevel.ToString())' name="MinimumLevel" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Default Purchase Rate :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.DefaultPurchaseRate.ToString())' name="DefaultPurchaseRate" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Minimum Sale Rate :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.MinimumSaleRate.ToString())' name="MinimumSaleRate" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Maximum Level :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.MaximunLevel.ToString())' name="MaximunLevel" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Default Sale Rate :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.DefaultSateRate.ToString())' name="DefaultSateRate" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Maximum Sale Rate :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.MaximumSaleRate.ToString())' name="MaximumSaleRate" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Reorder Level :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.ReorderLevel.ToString())' name="ReorderLevel" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">GST % age :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.TaxPercent.ToString())' name="TaxPercent" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Product Picture :</label>
                                <input class="form-control" name="files" multiple="multiple" type="file" />
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-sm">
                                        <tr>
                                            <td>Images</td>
                                            <td>IsDefault</td>
                                            <td>Delete</td>
                                        </tr>
                                        @foreach (var items in Model.ProductImages)
                                        {
                                            string[] subs = items.ImagePath.Split("wwwroot");
                                            string url = subs[1].Replace("'\'", "'/'");
                                            var tdid = "td" + @items.ImageId;
                                            <tr id="@tdid">
                                                <td>
                                                    <img class="float-left px-2" src="@url" height="70" />
                                                </td>
                                                <td>
                                                    <input id="IsDefault" name="IsDefault" type="radio" checked="@items.IsDefault" />
                                                </td>
                                                <td class="text-center directories">

                                                    <a id="@items.ImageId" class="directories btn btn-outline-danger btn-sm my-3" role="button"><i class="fa fa-trash-o"></i></a>

                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">WaterCare Picture :</label>
                                <input class="form-control" name="filesW" multiple="multiple" type="file" />
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered table-sm">
                                        <tr>
                                            <td>Images</td>
                                            <td>Delete</td>
                                        </tr>
                                        @foreach (var items in Model.WcareImages)
                                        {
                                            string[] subs = items.ImagePath.Split("wwwroot");
                                            string url = subs[1].Replace("'\'", "'/'");
                                            var tdid = "td" + @items.ImageId;

                                            <tr id="@tdid">
                                                <td>
                                                    <img class="float-left p-2" src="@url" height="70" />
                                                </td>
                                                <td class="text-center directories">
                                                    <a id="@items.ImageId" class="directories btn btn-outline-danger btn-sm my-3" role="button"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider bg-primary"></div>
                <div class="col-md-12 text-center mb-3">
                    <h5>Alter Unit Details</h5>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Alter U.O.M.<span style="color:red;">*</span> :</label>
                        @Html.DropDownList("AlertUnitId", new SelectList(Model.Unit, "UnitId", "UnitName", (Model.Product == null ? "" : Model.Product.AlertUnitId.ToString())), new { @class = "form-control" })
                        <span class="field-validation-valid text-danger"
                              data-valmsg-for="AlertUnitId"
                              data-valmsg-replace="true">
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Unit Method :</label>

                        <select class="form-control valid" data-val="true" data-val-required="The AlertUnitMethod field is required." id="AlertUnitMethod" name="AlertUnitMethod">
                            @if (Model.Product != null)
                            {
                                <option selected='@(Model.Product.AlertUnitMethod == 0 ? "selected" : "")' value="0">Manual</option>
                                <option selected='@(Model.Product.AlertUnitMethod == 1 ? "selected" : "")' value="1">Auto</option>
                            }
                            else
                            {
                                <option value="0">Manual</option>
                                <option value="1">Auto</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Unit Factor :</label>
                        <input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.AlertUnitFactor.ToString())' name="AlertUnitFactor" />
                    </div>
                </div>
                @*</div>*@
                <div class="row mt-3 justify-content-center">
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-primary btn-sm btn-block" name="Ok" value="Ok" />
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-warning btn-sm btn-block" name="Exit" value="Exit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
