﻿@model VentureWeb.ViewModel.DefaultProductListViewModel

@{
    ViewData["Title"] = "ListProductsByCategory";
}
@*<script>

     $(document).on("click", ".directories a", function (e) {
        var id = $(this).attr('id');
        $.ajax({
            type: "GET",
            url: "/Product/ListProductsByCategoryId?categoryid=" + id ,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var rtdid = '#td' + id;
                $(rtdid).remove();
                $(rtdid).closest('tr').remove();
            },
            error: function (r) {
               // alert('error');
            }
        });
    });

</script>*@


<table border="1">

    <tr>
        <td>
            <table border="1">
                <tr>
                    <td>
                        Category List
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table table-bordered table-sm mb-0">
                            <tr>
                                <th>Product Categories</th>
                            </tr>

                            @foreach (var productcategory in Model.Categories)
                            {
                                <tr>
                                    <td>                                       
                                        <a href="/Product/ListProductsByCategory?categoryid=@productcategory.ProductCategoryId"  class="btn btn-outline-warning btn-sm" role="button">
                                            @productcategory.ProductCategoryName
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>

            </table>
        </td>
        <td>
            <table border="1">
                <tr>
                    <td>
                        product Listing
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (Model.Products.Count != 0)
                        {
                            <table class="table table-bordered table-sm mb-0">
                                <tr>
                                    <th>Products</th>
                                </tr>
                                <tr>

                                    @foreach (var product in Model.Products)
                                    {

                                        string[] subs = product.DefaultImagePath.Split("wwwroot");
                                        string url = subs[1].Replace("'\'", "'/'");
                                        ///  var tdid = "td" + @items.ImageId;
                                        //  <tr id="@tdid">
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a href="/Product/ProductDetails?id=@product.ProductId" class="btn btn-outline-warning btn-sm" role="button">
                                                            <img class="float-left px-2" src="@url" height="70" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="/Product/ProductDetails?id=@product.ProductId" class="btn btn-outline-warning btn-sm" role="button">
                                                            @product.ProductName
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                    }
                                </tr>
                            </table>
                        }
                        else
                        {
                            <div>No records found</div>
                        }

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>