﻿
@model VentureWeb.ViewModel.ListProductViewModel

@{
    ViewData["Title"] = "ListProduct";
}
<script type="text/javascript">
    $(document).on("click", "input[name='IsFeatured']", function (e) {

        // alert('hi');
        var id = $(this).closest('td').attr("id");// $(".directories a").attr('id');
        //alert(id);
        var isfeatured = true;
        $.ajax({
            type: "GET",
            url: "/Product/SetFeaturedProduct?productid=" + id + "&isfeatured=" + isfeatured,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                alert('Featured image set successfully')
            },
            error: function (r) {
                alert('error');
            }
        });

    });


    $(function () {
        $("#ddlOptions").change(function () {
            var categoryOrClass = $('option:selected', this).val();
            //alert($('option:selected', this).text());


            if (categoryOrClass == 'Class') {
                $("#divSelect").show();
                $("#divClass").show();
                $("#divCategory").hide();
            }
            else if (categoryOrClass == 'Category') {
                $("#divSelect").show();
                $("#divClass").hide();
                $("#divCategory").show();
                
            } else {
                debugger;
                $("#ddlProductCategory").val('');
                $("#ddlProductClass").val('');

                $("#divSelect").hide();
                $("#divClass").hide();
                $("#divCategory").hide();

                //console.log($("#ddlProductCategory").val());
                //console.log($("#ddlProductClass").val());
            }
        });
    });
</script>
<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="my-1 card-title">Product List</h5>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-sm" href="/Product/AddEditProduct" role="button"><i class="fa fa-plus"></i> Add Product</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @*<form action="/Product/SearchProduct" enctype="multipart/form-data" class="form-horizontal" method="post">*@



            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }
            <form action="/Product/ProductList" enctype="multipart/form-data" class="form-horizontal" method="post">
                @*<form asp-controller="Product" asp-action="SearchProduct" method="get">*@
                <table border="0" class="table-responsive">
                    <tr>
                        <td>Select Options</td>
                        <td>
                            <div id="divOptions">

                                <select id="ddlOptions" name="ddlOptions" class="form-control">
                                    <option value="All">All</option>
                                    <option value="Class">Class</option>
                                    <option value="Category">Category</option>
                                </select>
                            </div>
                        </td>
                        <td>Product Name</td>
                        <td><input type="text" name="ProductName" /></td>
                        <td>

                            <input type="submit" class="btn btn-primary btn-sm btn-block" name="Search" value="Search" />

                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div id="divSelect"  style='display:none;'>Select</div> 
                        </td>
                        <td colspan="5">
                            <div id="divCategory" style='display:none;'>
                                @Html.DropDownList("ddlProductCategory",
                                                          new SelectList(Model.ProductCategoryList, "ProductCategoryId", "ProductCategoryName", "Please select"), "--Select--",
                                                          new { @class = "form-control" })

                            </div>

                            <div id="divClass" style='display:none;'>
                                @Html.DropDownList("ddlProductClass",
                               new SelectList(Model.ProductClassList, "ProductClassId", "ProductClassName", "Please select"), "--Select--",
                               new { @class = "form-control" })
                            </div>

                        </td>
                        
                    </tr>
                </table>
            </form>
            <br />

            <table class="table table-bordered table-sm mb-0">
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Is Featured</th>
                    <th>Action</th>
                </tr>

                @foreach (var product in Model.productList)
                {
                    <tr>
                        <td>@product.ProductId</td>
                        <td>@product.ProductName</td>
                        <td id="@product.ProductId">
                            <input id="IsFeatured" name="IsFeatured" type="checkbox" checked="@product.IsFeatured" />
                        </td>
                        <td>
                            <a href="/Product/AddEditProduct?id=@product.ProductId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                            <a href="/Product/Delete?id=@product.ProductId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>