﻿
@model VentureWeb.ViewModel.ProductPicturesViewModel


@{
    ViewData["Title"] = "ProductDetails";
}

<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
    }
</style>
<table border="1">
    <tr>
        <td>
<input type="text" class="form-control" value='@(Model.Product==null?"":Model.Product.ProductName)' name="ProductName" required />




</td>
        </tr>
    </table>

<div class="slider-wrapper theme-default">
    <div id="nivo-slider" class="nivoSlider">
       
        @if (Model.ProductImages.Count > 0)
        {
            foreach (var productimages in Model.ProductImages)
            {
                string[] subs = productimages.ImagePath.Split("wwwroot");
                string url = subs[1].Replace("'\'", "'/'");
               
                    <img  src="@url" alt=""  />
                   
            }
        }

    </div>
</div>

<br /><br />

<div class="slider-wrapper theme-default">
    <div id="nivo-sliderw" class="nivoSlider">

        @if (Model.WcareImages.Count > 0)
        {
            foreach (var wcareimages in Model.WcareImages)
            {
                string[] subs = wcareimages.ImagePath.Split("wwwroot");
                string url = subs[1].Replace("'\'", "'/'");

                <img src="@url" alt="" />

            }
        }

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#nivo-slider').nivoSlider();
        $('#nivo-sliderw').nivoSlider();
        });
</script>
