﻿
@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Http;

<div class="container">
    <div class="row justify-content-center my-5">
        Welcome @Context.Session.GetString("username")
     @*userid   @Context.Session.GetString("userId")*@
        <br>
        @*<a asp-controller="User" asp-action="logout">Logout</a>*@

        <div class="col-md-6 text-center">
            <h3>Wellcome To VentureWeb</h3>
        </div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-md-6 text-center">
            <img src="~/img/new-entries-animate.svg" alt="VentureWeb" />
        </div>
    </div>
</div>

