﻿
@model VentureWeb.Models.ProductCategory


@{
    ViewData["Title"] = "ProductCategory";

}






<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="ProductCategory" asp-action="ListProductCategory">ProductCategory List</a></li>
                <li class="breadcrumb-item active" aria-current="page">@TempData["Mode"] ProductCategory</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-1 card-title">@TempData["Mode"] Product Category</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/ProductCategory/ProductCategory?add=@(Model==null)" class="form-horizontal" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""> Product Category Name:<span style="color:red;">*</span> :</label>
                                    <input type="hidden" value='@(Model==null?"":Model.ProductCategoryId.ToString())' name="ProductCategoryId" required />
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.ProductCategoryName)' name="ProductCategoryName"  maxlength="50" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="ProductCategoryName"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label for="">  Product Category Id:<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.ProductCategoryId.ToString())' name="ProductCategoryId" required />
                                </div>
                            </div>*@
                                
                            </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-sm btn-block" value="Save" name="save" />
                                </div>
                            </div>
                        </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>