﻿

@model List<VentureWeb.Models.ProductCategory>

@{
    ViewData["Title"] = "ListProductCategory";
}




<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">ProductCategory List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="my-1 card-title">ProductCategory List</h5>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-sm" href="/ProductCategory/AddEditProductCategory" role="button"><i class="fa fa-plus"></i> Add ProductCategory</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }

            <table class="table table-bordered table-sm mb-0">
                <tr>
                    <th>ProductCategoryId</th>
                    <th>ProductCategoryName</th>
                    <th>Action</th>
                </tr>

                @foreach (var productcategory in Model)
                {
                    <tr>
                        <td>@productcategory.ProductCategoryId</td>
                        <td>@productcategory.ProductCategoryName</td>

                        <td>
                            <a href="/ProductCategory/AddEditProductCategory?id=@productcategory.ProductCategoryId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                            <a href="/ProductCategory/Delete?id=@productcategory.ProductCategoryId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>
                     
                    </tr>
                }
            </table>
        </div>
    </div>
</div>