﻿
@model VentureWeb.Models.Unit


@{
    ViewData["Title"] = "Unit";

}

<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Unit" asp-action="ListUnit">Unit List</a></li>
                <li class="breadcrumb-item active" aria-current="page">@TempData["Mode"] Unit</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-1 card-title">Unit Form</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/Unit/Unit?add=@(Model==null)" class="form-horizontal" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Unit Name<span style="color:red;">*</span> :</label>
                                    <input type="hidden" value='@(Model==null?"":Model.UnitId.ToString())' name="UnitId" required />
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UnitName)' name="UnitName"  maxlength="50" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="UnitName"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">UnitDescription<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UnitDescription)' name="UnitDescription" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="UnitDescription"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">UnitDecimalPlace<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UnitDecimalPlace.ToString())' name="UnitDecimalPlace" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="UnitDecimalPlace"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Company Id<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompId.ToString())' name="CompId" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">EntryUserId <span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.EntryUserId.ToString())' name="EntryUserId" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">EntryUserDate<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.EntryUserDate.ToString())' name="EntryUserDate" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">UpdateUserId <span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UpdateUserId.ToString())' name="UpdateUserId" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">UpdateUserDate <span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UpdateUserDate.ToString())' name="UpdateUserDate" required />
                                </div>
                            </div>*@
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-sm btn-block" value="Save" name="save" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>