﻿

@model List<VentureWeb.Models.Unit>

@{
    ViewData["Title"] = "ListUnit";
}



<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Unit List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="my-1 card-title">Unit List</h5>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-sm" href="/Unit/AddEditUnit" role="button"><i class="fa fa-plus"></i> Add Unit</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }

        <table class="table table-bordered table-sm mb-0">
            <tr>
                <th>UnitId</th>
                <th>UnitName</th>
                <th>Action</th>
            </tr>

            @foreach (var unit in Model)
            {
                <tr>
                    <td>@unit.UnitId</td>
                    <td>@unit.UnitName</td>


                    <td>
                        <a href="/Unit/AddEditUnit?id=@unit.UnitId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                        <a href="/Unit/Delete?id=@unit.UnitId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            }
        </table>
        </div>
    </div>
</div>