﻿
@model VentureWeb.Models.Company


@{
    ViewData["Title"] = "Company";

}


<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Company" asp-action="ListCompany">Company</a></li>
                <li class="breadcrumb-item active" aria-current="page">@TempData["Mode"] Company</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="my-1 card-title">@TempData["Mode"] Company</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/Company/Company?add=@(Model==null)" class="form-horizontal" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for=""> Company Name:<span style="color:red;">*</span> :</label>
                                    <input type="hidden" value='@(Model==null?"":Model.CompId.ToString())' name="CompId" required />
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompName)' name="CompName" maxlength="50" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompName"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompShortName<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompShortName)' name="CompShortName" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompShortName"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompPerAdd1<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompPerAdd1)' name="CompPerAdd1" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompPerAdd1"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompPerAdd2<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompPerAdd2)' name="CompPerAdd2" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompPerAdd2"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompPerAdd3<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompPerAdd3)' name="CompPerAdd3" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompPerAdd3"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompMailAdd1<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompMailAdd1)' name="CompMailAdd1" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompMailAdd1"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompMailAdd2<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompMailAdd2)' name="CompMailAdd2" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompMailAdd2"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompMailAdd3<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompMailAdd3)' name="CompMailAdd3" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompMailAdd3"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompPanNo<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompPanNo)' name="CompPanNo" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompPanNo"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompTanNo<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompTanNo)' name="CompTanNo" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompTanNo"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompListNo<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompListNo)' name="CompListNo" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompListNo"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompCstNo<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompCstNo)' name="CompCstNo" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompCstNo"
                                          data-valmsg-replace="true">
                                    </span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompVatFlg<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompVatFlg)' name="CompVatFlg" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompCstNo"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompBookMstDt<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompBookMstDt.ToString())' name="CompBookMstDt" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompBookMstDt"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompPhone1<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompPhone1)' name="CompPhone1" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompPhone1"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompPhone2<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompPhone2)' name="CompPhone2" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompPhone2"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompPhone3<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompPhone3)' name="CompPhone3" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompPhone3"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompPhone4<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompPhone4)' name="CompPhone4" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompPhone4"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompFaxNo1<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompFaxNo1)' name="CompFaxNo1" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompFaxNo1"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompFaxNo2<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompFaxNo2)' name="CompFaxNo2" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompFaxNo2"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompEmailId1<span style="color:red;">*</span> :</label>
                                    <input type="email" class="form-control" value='@(Model==null?"":Model.CompEmailId1)' name="CompEmailId1" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompEmailId1"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompEmailId2<span style="color:red;">*</span> :</label>
                                    <input type="email" class="form-control" value='@(Model==null?"":Model.CompEmailId2)' name="CompEmailId2" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompEmailId2"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompWebsite<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompWebsite)' name="CompWebsite" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompWebsite"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">CompStatus<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.CompStatus)' name="CompStatus" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="CompStatus"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">EntryUserId<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.EntryUserId.ToString())' name="EntryUserId" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="EntryUserId"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">EntryUserDate<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.EntryUserDate.ToString())' name="EntryUserDate" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="EntryUserDate"
                                          data-valmsg-replace="true">
                                    </span>
                                
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">UpdateUserId<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UpdateUserId.ToString())' name="UpdateUserId" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="UpdateUserId"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">UpdateUserDate<span style="color:red;">*</span> :</label>
                                    <input type="text" class="form-control" value='@(Model==null?"":Model.UpdateUserDate.ToString())' name="UpdateUserDate" required />
                                    <span class="field-validation-valid text-danger"
                                          data-valmsg-for="UpdateUserDate"
                                          data-valmsg-replace="true">
                                    </span>
                                </div>
                            </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-sm btn-block" value="Save" name="save" />
                                    </div>
                                </div>
                            </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>
