﻿

@model List<VentureWeb.Models.Company>

@{
    ViewData["Title"] = "ListCompany";
}


<div>
    <div class="top-bar mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Company List</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="my-1 card-title">Company List</h5>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary btn-sm" href="/Company/AddEditCompany" role="button"><i class="fa fa-building-o"></i> Add Company</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (null != TempData["alertMessage"])
            {
                <div class="alert alert-warning" role="alert">
                    @TempData["alertMessage"]
                </div>
            }

        <table class="table table-bordered table-sm mb-0">
            <tr>
                <th>CompanyId</th>
                <th>CompanyName</th>
                <th>CompShortName</th>
                <th>Action</th>
            </tr>

            @foreach (var company in Model)
            {
        <tr>
            <td>@company.CompId</td>
            <td>@company.CompName</td>
            <td>@company.CompShortName</td>

            <td>
                <a href="/Company/AddEditCompany?id=@company.CompId" class="btn btn-outline-warning btn-sm" role="button"><i class="fa fa-pencil"></i></a>
                <a href="/Company/Delete?id=@company.CompId" onclick="return confirm('Are you sure you want to delete?');" class="btn btn-outline-danger btn-sm" role="button"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
            }
            </table>
        </div>
    </div>
</div>